<script type="text/javascript">
    function gform_format_option_label( fullLabel, fieldLabel, priceLabel, selectedPrice, price, formId, fieldId ) {
        return fieldLabel;
    }
    
 </script>
 <div class='gf_browser_chrome gform_wrapper form-contact_wrapper' id='gform_wrapper_16' >
    <a id='gf_16' class='gform_anchor' ></a>
    <form method='post' enctype='multipart/form-data' target='gform_ajax_frame_16' id='gform_16' class='form-contact' action='https://formspree.io/david@calibratemedia.ca'>
       <div class='gform_body'>
          <ul id='gform_fields_16' class='gform_fields top_label form_sublabel_below description_above'>
             <li id='field_16_7' class='gfield list-checkboxes field_sublabel_below field_description_above gfield_visibility_visible' >
                <label class='gfield_label'  >How May We Help You?</label>
                <div class='gfield_description'>select as many that apply</div>
                <div class='ginput_container ginput_container_checkbox'>
                   <ul class='gfield_checkbox' id='input_16_7'>
                      <li class='gchoice_16_7_3'>
                         <input name='input_7.3' type='checkbox'  value='Web Development'  id='choice_16_7_3'   />
                         <label for='choice_16_7_3' id='label_16_7_3'>Web Development</label>
                      </li>
                      <li class='gchoice_16_7_4'>
                         <input name='input_7.4' type='checkbox'  value='Packaging'  id='choice_16_7_4'   />
                         <label for='choice_16_7_4' id='label_16_7_4'>Graphic Design</label>
                      </li>
                      <li class='gchoice_16_7_5'>
                         <input name='input_7.5' type='checkbox'  value='Illustration'  id='choice_16_7_5'   />
                         <label for='choice_16_7_5' id='label_16_7_5'>Marketing</label>
                      </li>
                      <li class='gchoice_16_7_6'>
                         <input name='input_7.6' type='checkbox'  value='Print Collateral'  id='choice_16_7_6'   />
                         <label for='choice_16_7_6' id='label_16_7_6'>Other</label>
                      </li>
                   </ul>
                </div>
             </li>
             <li id='field_16_14' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible' >
                <label class='gfield_label gfield_label_before_complex' for='input_16_14_3' >Name *<span class='gfield_required'>*</span></label>
                <div class='ginput_complex ginput_container no_prefix has_first_name no_middle_name no_last_name no_suffix gf_name_has_1 ginput_container_name gfield_trigger_change' id='input_16_14'>
                   <span id='input_16_14_3_container' class='name_first' >
                   <input type='text' name='input_14.3' id='input_16_14_3' value='' aria-label='First name'   aria-required="true" aria-invalid="false" />
                   <label for='input_16_14_3' >First</label>
                   </span>
                </div>
             </li>
             <li id='field_16_13' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible' >
                <label class='gfield_label' for='input_16_13' >Email *<span class='gfield_required'>*</span></label>
                <div class='ginput_container ginput_container_email'>
                   <input name='input_13' id='input_16_13' type='email' value='' class='large'     aria-required="true" aria-invalid="false"/>
                </div>
             </li>
             <li id='field_16_8' class='gfield gfield_contains_required field_sublabel_below field_description_above gfield_visibility_visible' >
                <label class='gfield_label' for='input_16_8' >Brief description... *<span class='gfield_required'>*</span></label>
                <div class='ginput_container ginput_container_textarea'><textarea name='input_8' id='input_16_8' class='textarea medium'    aria-required="true" aria-invalid="false"   rows='10' cols='50'></textarea></div>
             </li>
             <!-- <div class="gfield_description validation_message">This field is required.</div>   -->
       </div>
       </li>
       </ul>
 </div>
 <div class="gform_footer top_label"> 
     <input type="submit" id="gform_submit_button_16" class="gform_button button" value="Send"> <input type="hidden" name="gform_ajax" value="form_id=16&amp;title=&amp;description=&amp;tabindex=0">
 <input type="hidden" class="gform_hidden" name="is_submit_16" value="1">
 <input type="hidden" class="gform_hidden" name="gform_submit" value="16">
 <!-- <input type="hidden" class="gform_hidden" name="gform_unique_id" value="5c4f3baf1abf1">
    <input type="hidden" class="gform_hidden" name="state_16" value="WyJbXSIsIjBiZWMwZjYyYzEyYmY4Y2FiZTdiZDUwMzVhMjgxYjJmIl0=">
    <input type="hidden" class="gform_hidden" name="gform_target_page_number_16" id="gform_target_page_number_16" value="0">
    <input type="hidden" class="gform_hidden" name="gform_source_page_number_16" id="gform_source_page_number_16" value="1">
    <input type="hidden" name="gform_field_values" value=""> -->
 </div>
 </form>
 </div>