<section class="section section-facts">
        <header class="section-head">
          <div class="shell">
            <h2>What We Do</h2>
          </div><!-- /.shell -->
        </header><!-- /.section-head -->
      </section>
      <div class="servicesection group">
        <div class="col span_1_of_3">
              <img class="scale-in-center" src="img/monitor-window.png"></img>
              <h3>Web Design</h3>
              <p>To help your business grow to its full potential. We love our clients. we are really good at what we do.</p>
        </div>
        <div class="col span_1_of_3">
              <img class="scale-in-center" src="img/Polaroid.png"></img>
              <h3>Social Media</h3>
              <p>To help your business grow to its full potential. We love our clients. we are really good at what we do.</p>
        </div>
        <div class="col span_1_of_3">
              <img class="scale-in-center" src="img/lab-scientist.png"></img>
              <h3>Research</h3>
              <p>To help your business grow to its full potential. We love our clients. we are really good at what we do.</p>
        </div>
      </div>